body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2hpbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=1800&q=80');
    background-size: cover;

}
h2{
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 20px;
    text-align: center;
}
.clock{
    display: flex;
    position: relative;

}
.clock div{
    margin: 5px;
    font-size: 18px
    

}
.clock span{
    width: 100px;
    height: 80px;
    
    opacity: 1;
    color: rgba(80, 78, 72, 0.816);
    display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

    
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(175, 127, 81, 0.957);
    opacity: .8;
    color: rgb(232, 202, 182);
}
.clock #ampm{
    bottom: 2px;
    position: absolute;
    width: 50px;
    height: 40px;
    font-size: 35px;
}